@import './normalize.css';
@import '../fonts/fonts.css';

:root {
  --white: #ffffff;
  --black: #212429;
  --pink: #f784ad;
  --purple: #7048e8;
  --blue: #374fc7;
  --steel-blue: #334d6e;
  --light-blue: #a0b1f5;
  --blue-2: #4263eb;
  --red: #f03d3e;
  --grey-1: #f8f9fa;
  --grey-2: #dde2e5;
  --grey-3: #acb5bd;
  --grey-4: #495057;
  --grey-5: #90a0b7;

  --blue-button: #4263eb;
  --blue-button-hover: #2342c0;
  --purple-button: #7048e8;
  --purple-button-hover: #5028c6;
  --grey-button-hover: #212429;

  --error: var(--red);
  --success: var(--blue);

  --primary: var(--blue);
  --secondary: var(--purple);
}

* {
  font-family: 'Roboto', sans-serif;
}
