.checkbox__label {
  display: flex;
  align-items: center;
}

.checkbox__elem {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox__elem:focus ~ .checkbox__text::before {
  border-color: var(--blue-2);
}

.checkbox__elem:checked ~ .checkbox__text::before {
  background: var(--blue-2);
}

.checkbox__elem:disabled ~ .checkbox__text::before {
  color: var(--grey-2);
}

.checkbox__text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey-4);
}

.checkbox__text::before {
  content: '';
  display: inline-block;
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  flex-grow: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../../assets/images/checkbox.svg);
  margin-right: 12px;
}
